@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');

body {
    font-family: 'Comfortaa', cursive;
    text-align: center;
    background-color: black;
    text-decoration: none;
    color: white;
}



#container {
    width: 100vw;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
    
}